 form{
    background-color: lightseagreen;
    border: 2px solid red;
    margin-left: 450px;
    width: 30%;

} 
 .container{
    background-color: lightsalmon;
    width: 100%;
    height: 500px;
} 